<footer class="mt4 mb2 tc">

  <div>
    <a class="footer-link link--external" href="mailto:kyrivassilas@gmail.com">
      <i class="fa fa-envelope-o"></i>
      
    </a>
    <a class="footer-link link--external" href="https://www.linkedin.com/in/kyrivassilas/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="footer-link link--external" href="https://github.com/KyriV" target="_blank">
      <i class="fa fa-github"></i>
      
    </a>
    
  </div>


  

  <small class="smallprint">&copy; 2021. All Rights Reserved</small>

</footer>
