<div class="post-footer ph3">
  <div class="contain-copy center">

    <!-- Author Profile -->
    <div class="post-footer__profile mt3-ns">
      <img class="avatar mr3" src="{{site.baseurl}}/public/images/kyri-small.jpg" alt="">
      <div>
        <h3 class="mb1 mt2 mt0-ns">Kyri Vassilas</h3>
        <p class="ma0 mb2">Kyri is an ambitious junior QA looking to join the software industry who loves trying out differnt testing tools and is currenlty enjoying leanring about API testing.</p>
      </div>
    </div>

    <hr class="hr hr--thin hr--gradient">
    <h3 class="mb0">Comments</h3>

    <!-- Disqus Comment Thread -->
      <div id="disqus_thread" class="post-footer__disqus"></div>
      {% include disqus.html %}
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
</div>
