---
layout: default
---
<div class="profile-header flex-center">
  <img src="{{site.baseurl}}/public/images/kyri-small.jpg" alt="" class="about-image dn db-ns">
  <div class="flex-col-end tc">
    <h1 class="ma0 fw5">Kyri Vassilas</h1>
    <p class="ma0 mb1 orange"><a href="{{ site.baseurl }}/public/media/Kyri-graham-CV.pdf">view resume</a></p>
  </div>
</div>
<p class="pa2 tc">
  <a class="link--external mh2" href="mailto:kyrivassilas@gmail.com">
    <i class="fa fa-envelope-o"></i>
    <span class="dn di-ns">Email</span>
  </a>
  <a class="link--external mh2" href="https://www.linkedin.com/in/kyrivassilas/" target="_blank">
    <i class="fa fa-linkedin"></i>
    <span class="dn di-ns">LinkedIn</span>
  </a>
  <a class="link--external mh2" href="https://github.com/KyriV" target="_blank">
    <i class="fa fa-github"></i>
    <span class="dn di-ns">Github</span>
  </a>
  
</p>
<div class="contain-copy center">
  {{ content }}
</div>
